form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2rem;
}

label {
  margin-bottom: 1rem;
}

textarea {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #333;
  margin-bottom: 1rem;
  width: 50%;
  background-color: transparent;
  color: #fff;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #555;
  transform: scale(1.05);
}

